input[type=number] {
    width: 75px;
}

table {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 10pt;
    border-collapse: collapse;
    border: 0px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: copy;
}

table.dragging {
    cursor: ew-resize;
}

table td {
    padding: 0;
    margin: 0;
    width:10px;
    text-align: center;
    border-right: 1px solid transparent;
}

.drag-display {
    border-right: 1px solid gray;
}

.column-stop {
    border-right: 1px solid red;
    cursor: ew-resize;
}

table th {
    background: lightblue;
    border-right: 1px solid transparent;
}

table th.column-stop {
    background: red;
}

table th.drag-display {
    background: gray;
}