<!doctype html>
<html lang="en" ng-app="MainApp">
<head>
    <meta charset="utf-8">
    <title>FixedWidth Test Driver</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="directive.js"></script>
</head>
<body ng-controller="IndexController">
<h4>Add Column Stop</h4>
<form ng-submit="addStop()" novalidate name="stopForm">
    <table>
        <tr>
            <td>Field Name</td>
            <td>Offset</td>
        </tr>
        <tr>
            <td><input type="text" ng-model="currentName" required focus-on-event="currentNameFocus" /></td>
            <td><input type="number" min="0" ng-model="currentStop" required /></td>
        </tr>
        <tr>
            <td colspan="2">
                <button ng-click="addStop()" ng-disabled="stopForm.$invalid">Add Column Stop</button>
            </td>
        </tr>
    </table>
</form>

<div>{{columnStops}}</div>

<div fixed-width-selector lines="fileData" columns="columnStops"></div>
</body>
</html>