<!doctype html>
<html lang="en" ng-app="MainApp">
<head>
    <meta charset="utf-8">
    <title>FixedWidth Test Driver</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="directive.js"></script>
</head>
<body ng-controller="IndexController">
<h4>Add Column Stop</h4>
<form ng-submit="addStop">
    <input type="number" ng-model="currentStop">
    <button ng-click="addStop()">Add</button>
</form>

<div>{{columnStops}}</div>

<div fixed-width-selector lines="fileData" columns="columnStops"></div>
</body>
</html>